In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
%matplotlib inline

DATA_PATH =  'C:/Users/moham/Downloads/mohamed/titanic_prediction_survival/titanic/data/raw/train.csv'
EXPORT_PATH = 'C:/Users/moham/Downloads/mohamed/titanic_prediction_survival/titanic/data/processed/preprocessing_df.pkl'

In [2]:
train_df = pd.read_csv(DATA_PATH)

# drop unnecessary features

In [3]:
# drop unnecessary features which do not affect on the prediction
to_drop = ['Name','Ticket','Cabin', 'Embarked','Fare']
df = train_df.drop(to_drop, axis = 1)
df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch
0            1         0       3    male  22.0      1      0
1            2         1       1  female  38.0      1      0
2            3         1       3  female  26.0      0      0
3            4         1       1  female  35.0      1      0
4            5         0       3    male  35.0      0      0

# Missing Values

In [4]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
dtype: int64

 - Fill the missing value of Age by mean()

In [5]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [6]:
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
dtypes: float64(1), int64(5), object(1)
memory usage: 48.9+ KB

# Encoding Columns

In [8]:
# make a label encoding for Sex column to be numirac
# import package
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int32
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
dtypes: float64(1), int32(1), int64(5)
memory usage: 45.4 KB

# Expoert Data

In [10]:
df.to_pickle(EXPORT_PATH)